<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pickCoin</title>
</head>
<style>
  body {
    background-color: #607d8b;
    text-align: center;
  }

  button {
    margin-bottom: 1em
  }

  img {
    width: 3em;
    height: 3em;
    float: left;
  }

  h5 {
    color: #b3b3b3
  }

  .items {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
</style>

<body>
  <h5>随机博弈，两方轮流<br>一次可拿任意一排的1-n个<br>最后拿完的赢</h5>
  <div id="coin-panel">

    <button @click="pick">Done</button>
    <div v-for="i in rows" class="items">
      <img v-for="j in temp[i-1]" @click="pick" :src="img_src">
    </div>
  </div>
</body>

<script src="common/vue.js"></script>
<script type="text/javascript">

  const v = new Vue({
    el: '#coin-panel',
    data: {
      rows: 3,
      temp: [3, 5, 7],
      img_src: 'common/coin/front0.png'
    },
    methods: {
      pick: function (event) {
        console.log(event)
      }
    }
  })

</script>

</html>